.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    border-radius: 8px;
    color: white;
  }
  
  .navbar-left, .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-left a, .navbar-right a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-right a {
    margin-left: 1rem;
  }
  
  .navbar-left a:hover, .navbar-right a:hover {
    background-color: #555;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 0.1rem 9rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
    border-radius: 5px;
  }
  
  .dropdown-content a:hover {
    background-color: #555;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #555;
  }